*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box; 
}
main{
    width: 75%;
    margin: 10px auto;
    border: 1px solid #ddd;
    
}
    .div1{ 
    background-color: brown;
    color: red;
    }
   .div2{
    background-color: blue;
   }
   .div3{
    background-color: greenyellow;
   }
   .div4{
    background-color: darkblue;
   }
   .div5{
    background-color: cyan;
   }
   .div6{
    background-color: crimson;
   }
   .div7{
    background-color: rebeccapurple;
   }